<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/style.css" %}'>
    <title>CUBe - панель управления</title>
</head>
<body>
    <section>
        <div class="color"></div> 
        <div class="color"></div>
        <div class="color"></div>
        <div class="box">
            <div class="square" style="--i:1;"></div>
            <div class="square" style="--i:2;"></div>
            <div class="square" style="--i:3;"></div>
            <!-- <div class="square" style="--i:3;"></div>
            <div class="square" style="--i:4;"></div> -->
            <div class="container">
                <div class="form">
                    <img class="logo_img" src='{% static "logo.png" %}'>
                    <h2>Авторизация</h2>
                    <form>
                        <div class="inputBox">
                            <input type="text" placeholder="CUBe ID">
                        </div>
                        <div class="inputBox">
                            <input type="password" placeholder="Пароль">
                        </div>
                        <div class="inputBox">
                            <input type="Submit" value="Войти">
                        </div>
                        <p class="forget">Забыли пароль? <a href="{% url 'password_reset' %}">Восстановить</a></p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>